.last__jobs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.jobs{
    display: flex;
    
    width: 900px;
    background-color: yellow;
   height: 300px;
    justify-content: center;
}
.jobs__one{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}