.last__jobs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.jobs{
   
    width: 60vw;
}
.jobs
:checked,
:active{
    outline: none;
    border: none;

}
.slider__all{
    height: 300px;
    width: 50%;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
   
}
#slick-slide-control00{
    border-radius:100% ;
    background: black;
}
#slick-slide-control00:hover{
    padding-top: 10px;
    box-shadow: 2px 2px 10px #000;
    border-radius:100% ;
    transition: .5s;
}
#slick-slide-control01{
    padding: 2px;
    border-radius:100% ;
    background: black;
}
#slick-slide-control01:hover{
    padding-top: 10px;
    box-shadow: 2px 2px 10px #000;
    border-radius:100% ;
    transition: .5s;
}
#slick-slide-control02{
    padding: 2px;
    border-radius:100% ;
    background: black; 
}
#slick-slide-control02:hover{
    padding-top: 10px;
    box-shadow: 2px 2px 10px #000;
    border-radius:100% ;
    transition: .5s;
}
.slider__options{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.slick-arrow{
 
    color: #000;
    background: #000;
}